/* Sticky Footer */
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Navigation Bar */
.NavBar {
  border-bottom: solid #ccc;
  background-color: aqua;
  color: #fff;
}

.NameBox {
  background-color: #4aaaa5;
}

.LinksBox {
  height: 100%;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.LinkAbout {
  text-align: center;
  padding: 0px;
}

.LinkPortfolio {
  text-align: center;
  border-right: solid;
  border-left: solid;
  padding: 0px;
}

.LinkContact {
  text-align: center;
  padding: 0px;
}

/* Content */
.ContentTop {
  margin-top: 3%;
}

.MainContent {
  background-color: cornflowerblue;
}
