/* Sticky Footer Page Content */
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

/* Navigation Bar */
.NavBar {
  border-bottom: solid #ccc;
  background-color: #fff;
}

.NameBox {
  padding: 20px 0px;
  text-align: center;
  background-color: #4aaaa5;
}

h1 {
  margin: 0;
  font-family: "Georgia", Times, "Times New Roman", serif;
  color: #fff;
}

.LinksBox {
  height: 100%;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #aeaab4;
}

a:hover {
  text-decoration: none;
  color: #aeaab4;
}

.LinkAbout {
  text-align: center;
  padding: 0px;
}

.LinkPortfolio {
  text-align: center;
  border-right: solid;
  border-left: solid;
  padding: 0px;
}

.LinkContact {
  text-align: center;
  padding: 0px;
}

/* Background Image */
.Background {
  min-height: 100vh;
  height: fit-content;
  padding-top: 3%;
  padding-bottom: 3%;
  background: url(../images/spikes.png);
}

/* Content */
h2 {
  margin: 0px 5px;
  padding: 20px 0px;
  border-bottom: solid;
  border-width: 2px;
  border-color: #e4e4e4;
  font-family: "Georgia", Times, "Times New Roman", serif;
  color: #4aaaa5;
}

.MainContentBox {
  border-style: solid;
  border-color: #dddddd;
  background-color: #fff;
  color: #777;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

.BioTop {
  margin-top: 20px;
}

#ProfilePic {
  margin-left: 5px;
  padding: 0px 20px 0px 0px;
  height: auto;
  width: 100%;
}

#Bio {
  margin: 0px 15px 20px 5px;
  padding: 0px 0px;
}

.thumbWrapper {
  margin: 0px 0px;
  padding: 0px 20px;
}

.portfolioThumb {
  margin-bottom: 0px;
  padding: 0px;
  height: 215px;
  width: 100%;
}

.thumbBanner {
  position: relative;
  bottom: 20%;
  width: 100%;
  text-align: center;
  background-color: #4aaaa5;
  color: #fff;
}

#sticky-footer {
  flex-shrink: none;
  border-top: 8px solid #4aaaa5;
  padding: 20px 0px;
  background-color: #666666;
  color: #a8ada8;
}
