/* Sticky Footer */
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Navigation Bar */
.NavBar {
  border-bottom: solid #ccc;
  background-color: aqua;
  color: #fff;
}

.NameBox {
  background-color: #4aaaa5;
}

.LinksBox {
  background-color: chartreuse;
}

/* Content */
.ContentTop {
  margin-top: 3%;
}

.MainContent {
  background-color: cornflowerblue;
}
